<form #loginForm="ngForm">
    <div class="form-group">
        E-mail : <input #emailInput="ngModel" ngModel name="email" type="email" class="form-control" required email>
        <small *ngIf="emailInput.invalid && emailInput.dirty" class="form-text text-danger">Please enter a valid e-mail adress.</small>
    </div>
    <div class="form-group">
        Password : <input #passwordInput="ngModel" ngModel name="password" type="password" class="form-control" required minlength="6">
        <small *ngIf="passwordInput.invalid && passwordInput.dirty" class="form-text text-danger">Please enter at least 6 characters.</small>
    </div>
    <button (click)="login(loginForm)" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
</form>