<div class="d-flex justify-content-center">
  <div class="col-lg-8 push-lg-4">
    <div class="tab-content p-b-3">
      <div class="tab-pane active" id="profile">
        <h4 class="m-y-2">{{ cv?.firstname | titlecase }} {{ cv?.lastname | uppercase }}</h4>
        <div class="d-flex justify-content-center">
          <img
            width="150px"
            height="150px"
            class="rounded-circle align-content-center"
            src="{{ cv?.picture | defaultImage }}"
            alt=""
          />
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4 class="m-t-2">
              <span class="fa fa-clock-o ion-clock pull-xs-right"></span>
              Informations
            </h4>
            <table class="table table-hover table-striped">
              <tbody>
                <tr>
                  <td><strong>Name</strong> {{ cv?.lastname | uppercase }}</td>
                </tr>
                <tr>
                  <td><strong>Firstname</strong> {{ cv?.firstname | titlecase }}</td>
                </tr>
                <tr>
                  <td><strong>Age</strong> {{ cv?.birth }}</td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-center">
              <button
                (click)="removeCv()"
                class="btn btn-danger"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>