<!-- Bindings -->
<!--
<div class="alert alert-danger">
  <h1><i class="fa fa-battery-half" aria-hidden="true"></i> Test Thales</h1>
</div>

<app-first></app-first>
<hr>
<app-color-by-text></app-color-by-text>
<hr>
<app-bidir></app-bidir>
<hr>
<app-bidir-card></app-bidir-card>
<hr>
-->

<!-- Advanced Bindings -->
<!-- <cv-cv></cv-cv> -->

<!-- Directive ngStyle Simple -->
<!--
<app-ng-style></app-ng-style>
<app-ng-style [color]="'red'"></app-ng-style>
<app-ng-style [color]="'red'" [bgColor]="'yellow'" [font]="'Garamond'"></app-ng-style>
-->

<!-- Directive ngStyle Exercice -->
<!-- <app-text-formatting></app-text-formatting> -->

<!-- Directive ngClass simple blinking -->
<!-- <app-ng-class></app-ng-class> -->

<!-- Custom Directive highlight -->
<!--
<div customHighlight>custom directive highlight 1</div>
<br>
<div customHighlight>custom directive highlight 2</div>
<br>
<div customHighlight [colorIn]="'red'" [colorOut]="'blue'">custom directive highlight 3 with inputs</div>
-->

<!-- Custom Directive rainbow typing -->
<!--<input type="text" class="form-control" rainbowTyping>-->

<!-- Improve CV app with *ngIf *ngFor pipes -->
<!-- <cv-cv></cv-cv> -->

<!-- TODO List app -->
<!-- <todo-list-app></todo-list-app> -->

<!-- CV app with service and hire section -->
<cv-cv></cv-cv>